<i><b>Wolters Kluwer.</b></i><br/>
Establecimiento de usuario administrador con permisos de edicion sobre ARQ para poder realizar la operacion de edicion.<br/>
Asigna en el campo Other Users Interested el usuario backup de arquitectura para que esta informado.<br/>

&nbsp;&nbsp;-&nbsp;Usuario administrador seleccionado: &nbsp;&nbsp;<b>$userAdmin</b>