Post function que obtiene el usuario responsable validador del viaje.
<table class="aui">
	<tr>
    	<td>
        	Usuario administrador con permisos de edición sobre el proyecto GDV :
    	</td>
    	<td>
    		&nbsp;&nbsp;&nbsp;&nbsp
        	<select name="userAdmin">
				#foreach ($user in $allUsers)
					<option value="$user.name" 
					#if($!userAdmin && $user.name == $userAdmin)  
						selected="selected"
					#end>$user.name</option>
				#end
			</select>
    	</td>
    	<td width=40%>
    	  &nbsp;&nbsp;&nbsp;&nbsp
    	</td>
	</tr>
</table>