<i><b>Wolters Kluwer.</b></i><br/>
Establecimiento de usuario administrador con permisos de edicion sobre GDV para poder realizar la operación de edición.<br/>
Accede a la base de datos de plugins de JIRA para obtener el usuario responsable validador.<br/>

&nbsp;&nbsp;-&nbsp;Usuario administrador seleccionado: &nbsp;&nbsp;<b>$userAdmin</b>